@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

svg #wheel {
  animation: scroll ease 3s infinite;
}

.stroke-text {
  -webkit-text-stroke: 1px #cb6ce6;
  -webkit-text-fill-color: transparent;
}
